In [3]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
# convert timestamps from text to date and time TIMESTAMP
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
# Creating the Database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [5]:
# generate SQL schema as DDL 
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [12]:
# chunk the dataframe
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
# return the next element int he iterator
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
# convert timestamps from text to date and time TIMESTAMP
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# inserting all the rows on database
df

In [19]:
# insert table definition
# inserting all the rows on database
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists="replace")

0

In [20]:
# insert dataset
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")

CPU times: user 6.31 s, sys: 127 ms, total: 6.44 s
Wall time: 9.8 s

1000

In [21]:
from time import time

In [22]:
while True:
    t_start = time()
    # return the next element int he iterator
    df = next(df_iter)
    
    # convert timestamps from text to date and time TIMESTAMP
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    # insert dataset
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")

    t_end = time()

    print("inserted another chunk.., took %.3f second"%(t_end - t_start))

inserted another chunk.., took 9.246 second
inserted another chunk.., took 9.616 second
inserted another chunk.., took 9.356 second
inserted another chunk.., took 9.652 second
inserted another chunk.., took 9.394 second
inserted another chunk.., took 9.500 second
inserted another chunk.., took 9.600 second
inserted another chunk.., took 9.894 second
inserted another chunk.., took 9.448 second
inserted another chunk.., took 9.791 second
inserted another chunk.., took 9.741 second

/tmp/ipykernel_26685/2161269069.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk.., took 9.458 second
inserted another chunk.., took 6.237 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-23 22:34:16--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.130.240, 52.217.40.110, 52.217.162.144, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.130.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  51.3KB/s    in 0.2s

2024-01-23 22:34:18 (51.3 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265